node-red-files/flows.json
[{"id":"fb3ee494.800228","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"86cab7d3.9900a8","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"34f7ad93.767b62","type":"mqtt out","z":"fb3ee494.800228","name":"","topic":"","qos":"","retain":"","broker":"86cab7d3.9900a8","x":630,"y":220,"wires":[]},{"id":"a044b7bd.9e6348","type":"inject","z":"fb3ee494.800228","name":"LED 13 On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":190,"wires":[["240e9b51.efe454"]]},{"id":"5702dc4.e506224","type":"inject","z":"fb3ee494.800228","name":"Define Default Edge Controller","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":220,"y":80,"wires":[["de3eb057.5f9a7"]]},{"id":"de3eb057.5f9a7","type":"function","z":"fb3ee494.800228","name":"Store","func":"global.set(\"DEFAULT_EDGE_CONTROLLER\", msg.payload);\nif (msg.payload) {\n    node.status({fill:\"green\",shape:\"ring\",text:\"Default gateway: \" + msg.payload});\n} else {\n   node.status({fill:\"red\",shape:\"ring\",text:\"Default edge controller not defined\"});\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[[]]},{"id":"1b76ac94.881eb3","type":"debug","z":"fb3ee494.800228","name":"","active":true,"console":"false","complete":"true","x":630,"y":280,"wires":[]},{"id":"231e46d1.d938ba","type":"inject","z":"fb3ee494.800228","name":"LED 13 Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":250,"wires":[["240e9b51.efe454"]]},{"id":"dfc6914b.c03a","type":"comment","z":"fb3ee494.800228","name":"Change Inject Node to define the default edge device for communication","info":"","x":320,"y":30,"wires":[]},{"id":"6d1833d4.1cf87c","type":"comment","z":"fb3ee494.800228","name":"Turns on/off the LED (D13) on the default edge controller","info":"","x":280,"y":140,"wires":[]},{"id":"240e9b51.efe454","type":"build-msg","z":"fb3ee494.800228","name":"","msgtype":"cmd","gateway":"","porttype":"digital","address":"13","x":350,"y":220,"wires":[["34f7ad93.767b62","1b76ac94.881eb3"]]}]